<aa-header [title]="'List'" [subTitle]="'A simple list for any app'">
</aa-header>

<aa-tabs #tabs (onTabChange)="selectedTab = $event;" [tabs]="['General', 'Example', 'API']">
</aa-tabs>

<div>
  <div *ngIf="tabs.getSelectedTabName() == 'General'">
    Extends basecontrol (description about basecontrol)
  </div>
  <div *ngIf="tabs.getSelectedTabName() == 'Example'">
    <div>
      <aa-select [items]="['client', 'server']" [placeholder]="'List type'" [ngModelOptions]="{standalone: true}" [(ngModel)]="listType"></aa-select>
    </div>

    <aa-list [data]="data" (onSettingsChanged)="output=$event;" [listType]="listType">
      <ng-template let-item #header>
        <div>Header: {{item.text}}</div>
      </ng-template>
      <ng-template let-item #content>
        <div>Content: {{item.text}}</div>
      </ng-template>
    </aa-list>

    <div *ngIf="output && listType == 'server'" style="margin-bottom: 40px;">
      <b>onSettingsChanged emitted:</b>
      <code>
        {{output | json}}
      </code>
    </div>

    <div>
      <code>
        &lt;aa-list
        [data]="data"&gt;<br />
        <br />
        &nbsp;&nbsp;&lt;ng-template #header let-item&gt;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;div&gt;Header: &#123;&#123;item.text&#125; &#125; &lt;/div&gt;<br />
        &nbsp;&nbsp;&lt;/ng-template&gt;<br />
        <br />
        &nbsp;&nbsp;&lt;ng-template #content let-item&gt;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;div&gt;Content: &#123;&#123;item.text&#125; &#125; &lt;/div&gt;<br />
        &nbsp;&nbsp;&lt;/ng-template&gt;<br />
        <br />
        &lt;/aa-list&gt;
    </code>
  </div>

  </div>
  <div *ngIf="tabs.getSelectedTabName() == 'API'">
    <table class="options">
      <thead>
        <td>Property</td>
        <td>Type</td>
        <td>Default value</td>
        <td>Extra</td>
      </thead>
      <tr>
        <td>listType</td>
        <td><code>string</code></td>
        <td>client</td>
        <td><span>client</span> | <span>server</span></td>
      </tr>
      <tr>
        <td>data</td>
        <td><code>ListItems | any[]</code></td>
        <td></td>
        <td>Sorting columns are determinated by the columns in the data property</td>
      </tr>
      <tr>
        <td>settings</td>
        <td><code>ListSettings</code></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>onSettingsChanged (output)</td>
        <td><code>ListSettings</code></td>
        <td></td>
        <td></td>
      </tr>
        <!--<tr>
          <td>color</td>
          <td><code>string</code> (default: 'primary')</td>
          <td><span *ngFor="let s of buttonColorOptions">{{s}} | </span></td>
        </tr>
        <tr>
          <td>type</td>
          <td><code>string</code> (default: 'button')</td>
          <td>Buttontype; for example: button or submit</td>
        </tr>
        <tr>
          <td>timeout</td>
          <td><code>boolean</code> (default: true)</td>
          <td>Indicates whether or not the button should be disabled after a click for a certain amount of time</td>
        </tr>-->
    </table>
  </div>
</div>