/*
 * Import material design lite styling (no theme)
 */
 @import '../../../../node_modules/material-design-lite/material.min.css';

/*
 * Custom @anyapp/components styling
 */
 @import "./_variables.scss";
 
 /*
 * general anyapp styles
 */
//  body {
//     //  font-family: 'Roboto', Helvetica, Arial, sans-serif;
//     //  line-height: 1.7;
//     //  //color: $body-color;
//     //  background-color: $bg-color;
//     //  font-weight: 400;
//     //height: 100%;
//  }

 // line icons within a button again
 .mat-button-wrapper > aa-icon > * {
    vertical-align: middle;
 }

 // hide white background
 .mat-paginator {
    background: transparent;
}

// give tab-content a default padding
aa-tabs + div {
    padding: 20px 0;
}