<aa-header [title]="'Data table'" [subTitle]="'A simple table for any app'">
</aa-header>

<aa-tabs #tabs (onTabChange)="selectedTab = $event;" [tabs]="['General', 'Example', 'API']">
</aa-tabs>

<div>
  <div *ngIf="tabs.getSelectedTabName() == 'General'">
    Extends basecontrol (description about basecontrol)
  </div>
  <div *ngIf="tabs.getSelectedTabName() == 'Example'">
    <aa-table [columns]="['id','name','description']" [data]="data"></aa-table>

    <h2>Code</h2>
    <code>
        &lt;aa-table
          [columns]="['id','name','description']"
          [items]="data"&gt;<br />
        &lt;/aa-table&gt;
      </code>


  </div>
  <div *ngIf="tabs.getSelectedTabName() == 'API'">
    <table class="options">
      <thead>
        <td>Property</td>
        <td>Type</td>
        <td>Default value</td>
        <td>Extra</td>
      </thead>
      <tr>
        <td>data</td>
        <td>
          <code>any[]</code>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>columns</td>
        <td>
          <code>string[]</code>
        </td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>