<!--The content below is only a placeholder and can be replaced.-->
 
<div>
    <aa-header [title]="'Welcome to AnyApp'" [subTitle]="'A simple framework for any app!'"></aa-header>
  </div>
<!-- <mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
      <aa-top-menu style="width: 100%;" [sideNavRef]="sidenav"></aa-top-menu>
  
    </mat-toolbar-row>
  </mat-toolbar> -->
  <p>
      <span aa-badge="4" size="medium">Text with a badge</span>
    </p>
    

  <table>
    
    <tr>
      <td>
        Checkbox
      </td>
      <td>
        <aa-checkbox [label]="'This is a checkbox'"></aa-checkbox>
      </td>
      <td>
          <code>
              &lt;aa-checkbox [label]=&quot;'This is a checkbox'&quot;&gt;&lt;/aa-checkbox&gt;
  
          </code>
      </td>
    </tr>
    
    <tr>
      <td>
        Slide toggle
      </td>
      <td>
        <aa-checkbox [slideToggle]="true" [label]="'This is a slide toggle'"></aa-checkbox>
      </td>
      <td>
          <code>
              &lt;aa-checkbox [slideToggle]=&quot;true&quot; [label]=&quot;'This is a slide toggle'&quot;&gt;&lt;/aa-checkbox&gt;
  
          </code>
  
      </td>
    </tr>
    
    <tr>
      <td>
        Datepicker
      </td>
      <td>
        <aa-datepicker [placeholder]="'This is a simple datepicker'"></aa-datepicker>
      </td>
      <td>
          <code>
              &lt;aa-datepicker [placeholder]=&quot;'This is a simple datepicker'&quot;&gt;&lt;/aa-datepicker&gt;
  
          </code>
  
      </td>
    </tr>
    
    <tr>
      <td>
        Icon
      </td>
      <td>
        <aa-icon style="font-size:10px;" [size]="'large'" [icon]="'face'"></aa-icon>
        <aa-icon style="font-size:16px;" [icon]="'face'"></aa-icon>
        <aa-icon style="font-size:24px;" [icon]="'face'"></aa-icon>
        <aa-icon style="font-size:32px;" [icon]="'face'"></aa-icon>
      </td>
      <td>
          <code>
              &lt;aa-icon [icon]=&quot;'face'&quot;&gt;&lt;/aa-icon&gt;
  
          </code>
  
      </td>
    </tr>
    
    <tr>
      <td>
        Input
      </td>
      <td>
        <aa-input [placeholder]="'This is a simple input'"></aa-input>
      </td>
      <td>
          <code>
              &lt;aa-input [placeholder]=&quot;'This is a simple input'&quot;&gt;&lt;/aa-input&gt;
  
          </code>
  
      </td>
    </tr>
    
    <tr>
      <td>
        Label
      </td>
      <td>
        <aa-label [for]="'Label for'">This is a label</aa-label>
      </td>
      <td>
          <code>
              &lt;aa-label [for]=&quot;'Label for'&quot;&gt;This is a label&lt;/aa-label&gt;
  
          </code>
  
      </td>
    </tr>
    
    <tr>
      <td>
        Loading
      </td>
      <td>
        <aa-loading [visible]="true"></aa-loading>
      </td>
      <td>
          <code>
              &lt;aa-loading [visible]=&quot;true&quot;&gt;&lt;/aa-loading&gt;
  
          </code>
  
      </td>
    </tr>
    
    <tr>
      <td>
        Select
      </td>
      <td>
        <aa-select [placeholder]="'This is a simple select'" [items]="[{id:1, text: 'first item'}, {id:2, text: 'second item'}, {id:3, text: 'third item'}]"></aa-select>
      </td>
      <td>
          <code>
          </code>
  
      </td>
    </tr>
    
    <tr>
      <td>
        Multi select
      </td>
      <td>
        <aa-select [placeholder]="'This is a simple multi select'" [multiple]="true" [items]="[{id:1, text: 'first item'}, {id:2, text: 'second item'}, {id:3, text: 'third item'}]"></aa-select>
      </td>
      <td>
          <code>
          </code>
  
      </td>
    </tr>
    
    <tr>
      <td>
        Slider
      </td>
      <td>
        <aa-slider [min]="0" [max]="20" [step]="1"></aa-slider>
      </td>
      <td>
          <code>
              &lt;aa-slider [min]=&quot;0&quot; [max]=&quot;20&quot; [step]=&quot;1&quot;&gt;&lt;/aa-slider&gt;
  
          </code>
  
      </td>
    </tr>
    
    <tr>
      <td>
        Textarea
      </td>
      <td>
        <aa-textarea [placeholder]="'This is a textarea'"></aa-textarea>
      </td>
      <td>
          <code>
              &lt;aa-textarea [placeholder]=&quot;'This is a textarea'&quot;&gt;&lt;/aa-textarea&gt;
  
          </code>
  
      </td>
    </tr>
    
    
    
  </table>
  
  <div>
  </div>