<aa-header [title]="'Button'" [subTitle]="'A simple button for any app'">
</aa-header>

<aa-tabs #tabs (onTabChange)="selectedTab = $event;" [tabs]="['General', 'Example', 'API']">
</aa-tabs>

<div>
  <div *ngIf="tabs.getSelectedTabName() == 'General'">
    Extends formcontrol (description about formcontrols)
  </div>
  <div *ngIf="tabs.getSelectedTabName() == 'Example'">
    <div>
      <aa-select [items]="buttonStyleOptions" [placeholder]="'Button style'" [ngModelOptions]="{standalone: true}" [(ngModel)]="buttonStyle"></aa-select>
      <aa-select [items]="buttonColorOptions" [placeholder]="'Button color'" [ngModelOptions]="{standalone: true}" [(ngModel)]="buttonColor"></aa-select>
    </div>
    <aa-button [color]="buttonColor" [style]="buttonStyle" [tooltip]="'This is the optional tooltip'">This is a {{buttonStyle}} {{buttonColor}} button</aa-button>


    <h2>Code</h2>
    <code>
      &lt;aa-button
        [tooltip]="'This is the optional tooltip'"
        [color]="'{{buttonColor}}'"
        [style]="'{{buttonStyle}}'"&gt;<br />
      &nbsp;&nbsp;This is a button<br />
      &lt;/aa-button&gt;
    </code>
  </div>

  <div *ngIf="tabs.getSelectedTabName() == 'API'">
    <table class="options">
      <thead>
          <td>Property</td>
          <td>Type</td>
          <td>Default value</td>
          <td>Extra</td>
      </thead>
      <tr>
        <td>style</td>
        <td><code>string</code></td>
        <td>flat</td>
        <td><span *ngFor="let s of buttonStyleOptions">{{s.toLowerCase()}} | </span></td>
      </tr>
      <tr>
        <td>color</td>
        <td><code>string</code></td>
        <td>primary</td>
        <td><span *ngFor="let s of buttonColorOptions">{{s}} | </span></td>
      </tr>
      <tr>
        <td>type</td>
        <td><code>string</code></td>
        <td>button</td>
        <td>Buttontype; for example: button or submit</td>
      </tr>
      <tr>
        <td>timeout</td>
        <td><code>boolean</code></td>
        <td>true if buttonTimeoutThreshold is set through config settings</td>
        <td>Indicates whether or not the button should be disabled after a click for a certain amount of time</td>
      </tr>
    </table>
  </div>
</div>