@import "~@anyapp/components/assets/styles/indigo-pink.bundle.min.css";

body {
    height: 100%;
}

table.options {
    width: 100%;

    thead {
        font-weight: 500;
    }
    // :first-child {
    //     font-style:italic;
    // }
    
    .bold {
        font-weight: 500;
    }
}

code {
    background: #ededed;
}